__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config file
config.json

.coverage_*
*~
slurm*
logs

# Data folder
bookcorpus_data/

# custom ignore
*.json
*.txt
*.log
*.bin
*.idx
*.pt

# folders
wandb/
examples_deepspeed/

# irrelevant py files
results_viz.py
megatron/model/transformer_sams.py
megatron/varuni_vit_utils.py

# log files
mds_qsub.sh.*
FlyKD.*